/* Font imports */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,200italic,100italic,300,300italic,400italic,500,500italic,600,600italic,900,800italic,900italic,800,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,400bold);

/* General */
body {
	font-family: 'Raleway', sans-serif !important;
	background-color: black !important;
	color: white !important;
	background-image: url("../images/background.jpg") !important;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
    
    background-attachment: fixed;

}

a {
	color: white !important;
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
	color: #e6c52c !important;
}

.container {
	background-color: rgba(0,0,0,0.9);
	border-radius: 5px;
}

/* Navigation bar */
#nav-container {
	z-index: 100;
	position: fixed;
	width: 90%;
	/*height: 100px;*/
	left: 5%;
	display: block;
}

#logo {
	margin-top: 20px;
}

nav {
	margin-top: 60px;
	position: absolute;
	right: 20%;
	vertical-align: middle;
}

nav a {
	padding-right: 20px;
}

#social { /* container for social media links */
	margin-top: 60px;
	position: absolute;
	vertical-align: middle;
	right: 10%;
}

#social a {
	padding-right: 15px;
}

p {
	font-weight: 200;
}

h1 {
	font-weight: 100;
}

#current a {
	color: #e6c52c !important;
}


/* Home section */
#home-container {
	position: absolute;
	width: 55%;
	left:5%;
	height: 1010px;
	margin-top: 540px;
}

#home-header {
	text-align: center;
}

#home-body {
	margin-left: 10px;
	text-align: left;
	display: inline-block;
}

/* News section */
#news-container {
	position: absolute;
	width: 55%;
	left:5%;
	height: 1010px;
	margin-top: 140px;
	
}

#news-header {
	text-align: center;
}

#news {
	margin-left: 10px;
	text-align: left;
	display: inline-block;
}

/* Album section - general */

#album-container, #album-container-home {
	position: absolute;
	width: 33%;
	left: 62%;
	height: 1010px;
	text-align: center;
}

#album-container i, #album-container-home i {
	color: #e6c52c;
}

/* Album section - home*/

#album-container {
	margin-top: 140px;
}

#album-container-home {
	margin-top: 540px;
}

/* Press section */
#press-container {
	position: absolute;
	width: 55%;
	left:5%;
	height: 1010px;
	margin-top: 140px;
	
}

#press-header {
	text-align: center;
}

#press {
	margin-left: 10px;
	text-align: left;
	display: inline-block;
}

/* Contact section */
#contact-container {
	position: absolute;
	width: 55%;
	left:5%;
	height: 1010px;
	margin-top: 140px;
	
}

#contact-header {
	text-align: center;
}

#contact-info {
	margin-left: 10px;
	text-align: left;
	display: inline-block;
}

/* Copyright section */
#copyright-container, #copyright-container-home, 
#copyright-container-band, #copyright-container-discography {
	position: absolute;
	width: 90%;
	left: 5%;
	height: 40px;
}

#copyright-container p, #copyright-container-home p, 
#copyright-container-band p, #copyright-container-discography p {
	margin-top: 10px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	opacity: 0.6;
}

/* Copyright section - home */
#copyright-container {
	margin-top: 1170px;
}

#copyright-container-home {
	margin-top: 1570px;
}

#copyright-container-band {
	margin-top: 1060px;
}

 #copyright-container-discography {
 	margin-top: 960px;
 }

/* Slideshow container */
#slideshow-container {
	width: 1120px;
	left: 8%;
	margin-top: 130px;
	height: 400px;
	position: absolute;
}

#slideshow-container img {
	position: absolute;
}

.slide {
	display: none;
}

#slideshow-header {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	color: #e6c52c;
	font-weight: 300;
	text-shadow: 
	0 0 2px gray,
	0 0 10px black,
	0 0 20px black,
	0 0 70px gray,
	0 0 80px gray,
	0 0 100px gray;
}

/* Band container */
#band-image-container {
	width: 1120px;
	left: 8%;
	margin-top: 130px;
	height: 400px;
	position: absolute;
}

#band-image-container img {
	position: absolute;
}

#band-desc-container {
	position: absolute;
	width: 90%;
	left:5%;
	height: 500px;
	margin-top: 540px;
}

#band-header {
	text-align: center;
}

#band-body {
	margin-left: 10px;
	text-align: left;
	display: inline-block;
}

/* Discography section */
#discography-container {
	position: absolute;
	width: 90%;
	left:5%;
	height: 800px;
	margin-top: 140px;
	
}

#discography-header {
	text-align: center;
}

#discography-container .col-sm-4 {
	width: 27%;
	margin-left: 5%;
	margin-top: 2%;
	text-align: left;
	display: inline-block;

}

#album2 img {
	max-width:100%;
}

#discography-container h2, #discography-container p {
	text-align: right;
}
